.skip_top {
  margin-top: 80px;
}

.documentation ul {
  list-style-type: disc;
}

.documentation ol {
  list-style-type: decimal;
}

.documentation strong{
  display: inline;
}

pre {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-link {
  left: -0.5em;
  color: $text-color-dark;
}
