// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: white !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

//nav
$nav-color: rgb(89, 142, 255) !default;
$footer-color:  rgb(89, 142, 255) !default;

//banner
$banner-color: rgb(149, 240, 164) !default;

//documentation
$doc-a-color: rgb(70, 190, 230) !default;

//Blogs
$blog-a-color: rgb(27, 143, 182) !default;
$blog-title-color: rgb(19, 146, 97) !default;


//calender colors
$calendar-today-color:#606c71 ;
$calender-prev-color:#606c71 ;
$calendar-next-color:#606c71 ;

//active state color
$active-color:black;