---
layout: default
---

<section class="section skip_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        {% assign urlParts = page.url | split: "/" %}
        {% assign version = urlParts[2] %}
        <ul class="list-group list-group-collapse border-0">
          {% for item in site.data.documentation[version] %}
          <li class="list-group-item border-0">
            <h5>
              {% if item.Link %}
              <a href="{{item.Link}}">{{ item.Name}}</a>
              {% else %}
              {{item.Name}}
              {% endif %}
            </h5>
            {% if item.Childs.size > 0 %}
            <ul class="list-group border-0">
              {% for val in item.Childs %}
              {% capture BaseLink %}documentation/{{version}}/{{val.Link}}{% endcapture %}
              <li class="list-group-item border-0"> <a href="{% link {{ BaseLink }} %}">{{ val.Name }}</a> </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <p>Documentation for version: <b>{{ version | replace: "_", "." }}</b></p>
        <ul class="list-group list-group-collapse border-0">
          <li class="list-group-item border-0">
            <h5>Other versions</h5>

            <ul class="list-group border-0">
              {% for item in site.data.documentation %}
              {% assign target = item[1] | first %}
              {% assign targetChild = target.Childs | first %}
              {% capture BaseLink %}documentation/{{item[0]}}/{{targetChild.Link}}{% endcapture%}
              <li class="list-group-item border-0"> <a href="{% link {{ BaseLink }} %}"> {{ item[0] | replace: "_",
                  "."}}</a> </li>
              {% endfor %}
            </ul>
          </li>

        </ul>
      </div>

      <div class="col-lg-8">
        <div class="documentation content">
          {% if page.title %}
          <!-- Some cases we don't want to show the title -->
          <h1 class="font-tertiary mb-5">{{ page.title | escape }}</h1>
          {% endif %}
          {% if page.image %}
          <img src="{{page.image | relative_url }}" class="img-fluid rounded float-left mr-5 mb-4" alt="{{page.title}}">
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>