<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ 'assets/main.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
   
   <script>
   

    $(function (){
      $("a.burger").on("click", function(){
        $(".wrapper").css('height','auto');
        $(".burger").css('visibility', 'hidden');
        $(".cross").css('visibility', 'visible');
      });
    });
    $(function (){
      $("a.cross").on("click", function(){
        $(".cross").css('visibility', 'hidden');
        $(".wrapper").css('height', '72px');
        $(".burger").css('visibility', 'visible');
      });
    });


   
  
      </script>
  </head>
  <body>
    <div class="page-container">


      {% include page_header.html %}
   
      {{ content }}
    </div>

  </body>
</html>
